/* #28eea7 */
/* #282828 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro";
    color: white;
    font-family: Noto Sans Mono, sans-serif;
}
 .container {
    display: flex;
    flex-direction: column;
 }

.header{
    height: 100vh;
    min-height: 100%;
    position: relative;
    display: flex;
}

.header .header-left {
    background-color: #28eea7;
    background-image: url(/assets/images/641b4c900878f534cf0d3f17_Untitled\ design\ \(11\).png);
    background-size: cover;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.header .header-left .cover {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(40, 238, 167, .93);
    background-image: none;
    position: static;
}

.header .header-left .cover .logo {
    align-self: flex-start;
    margin-top: 70px;
    margin-left: 70px;
    width: 187px;
}

.header .header-left .cover .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 100px;
    padding-bottom: 60px;
    margin-right: 70px;
}

.header .header-left .cover .content h2 span {
    background-color: #282828;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 2.5;
}
.header .header-left .cover .content h1 {
    color: #282828;
    margin-top: 10px;
    font-weight:900;
}
.header .header-left .cover .content p {
    color: #282828;
    font-size: 15px;
    width: 85%;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1.5;
}
.header .header-left .cover .content .get-trained {
    color: #fcfcfd;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #282828;
    padding: 12px 16px;
    font-weight: 800;
    text-decoration: none;

}
/* ---------- */
.header .header-right {
    background-color: #282828;
    background-image: url(/assets/images/641b4d48dc5b31ff0aa4ca67_Untitled\ design\ \(12\).png);
    background-size: cover;
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header .header-right .cover {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(35, 35, 35, .85);
    background-image: none;
    position: static;
}

.header .header-right .cover .logo {
    align-self:flex-end;
    margin-top: 70px;
    margin-right: 70px;
    width: 50px;
}

.header .header-right .cover .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 60px;
    margin-left: 70px;
}

.header .header-right .cover .content h2 span {
    color: #363738;
    background-color: #fcfcfd;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bolder;
    line-height: 2.5;
}
.header .header-right .cover .content h1 {
    color: #fcfcfd;
    margin-top: 10px;
    font-weight:900;
}

.header .header-right .cover .content p {
    color: #fcfcfd;
    font-size: 15px;
    width: 85%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1.5;
}

.header .header-right .cover .content .hire-talent-btn {
    color: #282828;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #fcfcfd;
    padding: 12px 16px;
    font-weight: 800;
    text-decoration: none;

}
/* ----------------------------- */

.hello-world {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F1F2F3;

}
.hello-world .hello-world-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 865px;
    margin: 70px 0;
}
.hello-world div{
    color: #282828;
    font-weight: 800;
    font-size: 25px;
}

.hello-world div span{
    color: #28eea7;
    font-weight: 900;
}
.hello-world .hello-world-circles {
    display: flex;
    gap: 0 5px;
}
.hello-world .hello-world-circles div {
    text-align: center;
    font-size: 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.hello-world .hello-world-circles .black {
    background-color: #282828;
}

.hello-world .hello-world-circles .grey {
    background-color: #dcdee1;
    color: #dcdee1;
}
.hello-world .hello-world-circles .green {
    background-color: #28eea7;
    color: #28eea7;
}
.hello-world .video-container {
    background-color: #28eea7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 90%;
    border-radius: 20px;
}

.hello-world .video-container iframe {
    height: 95%;
    width: 97%;
}
/* ---------------------------------------------- */

.milestones {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.milestones .milestones-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 865px;
    padding: 70px 0;
}
.milestones div{
    color: #282828;
    font-weight: 800;
    font-size: 25px;
}

.milestones div span{
    color: #28eea7;
    font-weight: 900;
}
.milestones .milestones-circles {
    display: flex;
    gap: 0 5px;
}
.milestones .milestones-circles div {
    text-align: center;
    font-size: 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.milestones .milestones-circles .black {
    background-color: #282828;
}

.milestones .milestones-circles .grey {
    background-color: #dcdee1;
    color: #dcdee1;
}
.milestones .milestones-circles .green {
    background-color: #28eea7;
    color: #28eea7;
}  

.milestones .cards-container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 90%;
    gap: 20px;
}

.milestones .cards-container .cards-container-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 50px 0px 50px 50px;
    height: 100%;
}
.milestones .cards-container .cards-container-left .milestone-title {
    font-size: 100px;

}
.milestones .cards-container .cards-container-left .milestone-percentage{
    font-size: 30px;
    padding: 0px;
    font-weight: bold;
    width: 70%;
}
.milestones .cards-container .cards-container-left .rich-text-content-tab p{
    font-size: 15px;
    font-weight: 10;
    color: #282828;
}
.milestones .cards-container .cards-container-left .rich-text-content-tab p strong {
    color: #282828;
}
.milestones .cards-container .cards-container-right {
    flex: 1; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    height: 100%;
}
.milestones .cards-container .cards-container-right .right-up-one,
    .right-up-two,
    .right-bottom-one,
    .right-bottom-two {
        border-radius: 20px;
        background-color: #f2f2f2;
        margin: 6px;
        padding: 25px; 
}

.milestones .milestone-title{
    font-size: 60px;
    line-height: 100px;
    font-weight: 900;
}
.milestones .milestone-percentage{
    font-size: 16px;
    font-weight: 10;
}
/* ---------------------------------------------------- */

.Programs {
    margin-top: 50px;
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #28eea7;
    color: #282828;
}

.Programs .Programs-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 865px;
    margin-bottom: 70px;

}
.Programs .Programs-head .programs-header{
    background-color: #282828;
    color: white;
    font-weight: 800;
    font-size: 25px;
    padding: 5px 10px;
}

.Programs div span{
    color: #28eea7;
    font-weight: 900;

}
.Programs .Programs-header-circles {
    display: flex;
    gap: 0 5px;
}
.Programs .Programs-header-circles div {
    text-align: center;
    font-size: 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.Programs .Programs-header-circles .black {
    background-color: #282828;
}

.Programs .Programs-header-circles .grey {
    background-color: #dcdee1;
    color: #dcdee1;
}
.Programs .Programs-header-circles .white {
    background-color: white;
    color:white;
}  

.Programs .tab-menu {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 130px;
    gap: 0 5px;

}
.Programs .tab-menu a {
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    color: #282828;
    font-weight: bolder;
}
.Programs .tab-menu a:hover{
    color: #dcdee1;
    background-color: #363738;
    border-radius: 20px 20px 0 0;
}

.Programs .program-card {
    display: flex;
    width: 90%;
    height: 50%;
    background-color: #363738;
    border-radius: 20px;
}

.Programs .program-card .program-card-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 20px;

}

.Programs .program-card .program-card-left .program-card-head {
    font-size: 20px;
    font-weight: bold;
}

.Programs .program-card .program-card-left .program-card-head strong {
    color: #28eea7;
}

.Programs .program-card .program-card-left .content {
    font-size: 13px;
}

.Programs .program-card .program-card-right {
    width: 30%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.Programs .program-card .program-card-right .cards-img-container{
    display: flex;
    width: 100%;
    height: 100%;
}
.Programs .program-card .program-card-right img {
    max-width: 100%;
    max-height: 100%;
}
.Programs .program-card .program-card-left .footer {
    display: flex;
    gap: 10px;
}
.Programs .program-card .program-card-left .footer div{
    background-color: #282828;
    font-size: 13px;
    line-height: 40px;
    padding: 5px 20px;
}
.Programs .program-card .program-card-left .footer .learn-more {
    width: 250px;
    text-align: end;
}
.Programs .program-card .program-card-left .footer div strong {
    color: #28eea7;
}

/* ------------------------------------------------------------- */
.hire-talent {
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #363738;
    padding: 50px;
    gap: 50px;
}

.hire-talent .hire-talent-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 865px;

}
.hire-talent .hire-talent-head .hire-talent-header{
    color: white;
    font-weight: 800;
    font-size: 25px;
}

.hire-talent div span{
    color: #28eea7;
    font-weight: 900;

}
.hire-talent .hire-talent-head .hire-talent-header-circles {
    display: flex;
    gap: 0 5px;
}
.hire-talent .hire-talent-header-circles div {
    text-align: center;
    font-size: 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;

}
.hire-talent .hire-talent-header-circles .green {
    background-color: #28eea7;
}

.hire-talent .hire-talent-header-circles .grey {
    background-color: #dcdee1;
    color: #dcdee1;
}
.hire-talent .hire-talent-header-circles .white {
    background-color: white;
    color:white;
} 

.hire-talent .hire-talent-card {
    width: 100%;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    border-radius: 20px;
}
.hire-talent .hire-talent-card .hire-talent-card-title {
    font-size: 22px;
    font-weight: 900;
}
.hire-talent .hire-talent-card .hire-talent-card-subtitle {
    background-color: #363738;
    width: 80%;
    font-size: 17px;
    padding: 18px;
}

.hire-talent .hire-talent-card .list ol{
    padding-left: 50px;
    font-size: 13px;
}

.hire-talent .hire-talent-card .hire-contact-button {
    text-decoration: none;
    background-color: #363738;
    text-align: end;
    line-height: 50px;
    padding-right: 15px;
    font-weight: 900;
}

.hire-talent .hire-talent-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #282828;
    gap: 0 20px;
    width: 100%;
    height: 10%;
    border-radius: 20px;
    padding-right: 40px;
    font-size: 20px;
}

.hire-talent .hire-talent-footer span{
    color: #dcdee1;
}

/* --------------------------------------------------------- */

.hire-talent {
    height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #363738;
    padding: 50px;
    gap: 50px;
}

.hire-talent .hire-talent-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 865px;

}
.hire-talent .hire-talent-head .hire-talent-header{
    color: white;
    font-weight: 800;
    font-size: 25px;
}

.hire-talent div span{
    color: #28eea7;
    font-weight: 900;

}
.hire-talent .hire-talent-head .hire-talent-header-circles {
    display: flex;
    gap: 0 5px;
}
.hire-talent .hire-talent-header-circles div {
    text-align: center;
    font-size: 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;

}
.hire-talent .hire-talent-header-circles .green {
    background-color: #28eea7;
}

.hire-talent .hire-talent-header-circles .grey {
    background-color: #dcdee1;
    color: #dcdee1;
}
.hire-talent .hire-talent-header-circles .white {
    background-color: white;
    color:white;
} 

.hire-talent .hire-talent-card {
    width: 100%;
    background-color: #282828;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    border-radius: 20px;
}
.hire-talent .hire-talent-card .hire-talent-card-title {
    font-size: 22px;
    font-weight: 900;
}
.hire-talent .hire-talent-card .hire-talent-card-subtitle {
    background-color: #363738;
    width: 80%;
    font-size: 17px;
    padding: 18px;
}

.hire-talent .hire-talent-card .list ol{
    padding-left: 50px;
    font-size: 13px;
}

.hire-talent .hire-talent-card .hire-contact-button {
    text-decoration: none;
    background-color: #363738;
    text-align: end;
    line-height: 50px;
    padding-right: 15px;
    font-weight: 900;
}

.hire-talent .hire-talent-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #282828;
    gap: 0 20px;
    width: 100%;
    height: 10%;
    border-radius: 20px;
    padding-right: 40px;
    font-size: 20px;
}

.hire-talent .hire-talent-footer span{
    color: #dcdee1;
}

/* ----------------------------------------------------- */


.testimonials {
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #282828;

}

.testimonials .testimonials-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 865px;
    margin-bottom: 70px;

}
.testimonials .testimonials-head .testimonials-header{
    color: #282828;
    font-weight: 800;
    font-size: 25px;
    padding: 5px 10px;
}

.testimonials div span{
    color: #28eea7;
    font-weight: 900;

}
.testimonials .testimonials-header-circles {
    display: flex;
    gap: 0 5px;
}
.testimonials .testimonials-header-circles div {
    text-align: center;
    font-size: 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.testimonials .testimonials-header-circles .black {
    background-color: #282828;
}

.testimonials .testimonials-header-circles .grey {
    background-color: #dcdee1;
    color: #dcdee1;
}
.testimonials .testimonials-header-circles .green {
    background-color: #28eea7;
    color:#28eea7;
}  

.testimonials .testimonials-card {
    display: flex;
    align-items: center;
    width: 90%;
    height: 50%;
    background-color: #363738;
    border-radius: 20px;
}

.testimonials .testimonials-card .testimonials-card-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 20px;

}

.testimonials .testimonials-card .testimonials-card-left .content {
    font-size: 15px;
}
.testimonials-card .testimonials-card-left .info {
    display: flex;
    flex-direction: row;
    gap: 0 20px;

}
.testimonials-card .testimonials-card-left .info .info-img-container> img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.testimonials .testimonials-card .testimonials-card-right {
    width: 30%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.testimonials .testimonials-card .testimonials-card-right .testimonials-img-container{
    display: flex;
    width: 100%;
    height: 100%;
}
.testimonials .testimonials-card .testimonials-card-right img {
    max-width: 100%;
    max-height: 100%;
}

/* ------------------------------------------------------------------------ */


.fqs {
    height: 80vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #363738;
    padding: 50px;
    gap: 50px;
}

.fqs .fqs-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 865px;

}
.fqst .fqs-head .fqs-header{
    color: white;
    font-weight: 800;
    font-size: 25px;
}

.fqs div span{
    color: #28eea7;
    font-weight: 900;

}
.fqs .fqs-head .fqs-header-circles {
    display: flex;
    gap: 0 5px;
}
.fqs .fqs-header-circles div {
    text-align: center;
    font-size: 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;

}
.fqs .fqs-header-circles .green {
    background-color: #28eea7;
}

.fqs .fqs-header-circles .grey {
    background-color: #dcdee1;
    color: #dcdee1;
}
.fqs .fqs-header-circles .white {
    background-color: white;
    color:white;
}

.fqs .questions {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

.fqs .questions div {
    background-color: #282828;
    border-radius: 10px;
    line-height: 20px;
    padding: 25px;
    
}
.fqs .questions .viewall {
    display: flex;
    justify-content: flex-end;
}

.fqs .questions .viewall a {
    text-decoration: none;
    
}

.partners {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #282828;

}

.partners .partners-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 865px;
    margin-bottom: 70px;

}
.partners .partners-head .partners-header{
    color: #282828;
    font-weight: 800;
    font-size: 25px;
    padding: 5px 10px;
}

.partners div span{
    color: #28eea7;
    font-weight: 900;

}
.partners .partners-header-circles {
    display: flex;
    gap: 0 5px;
}
.partners .partners-header-circles div {
    text-align: center;
    font-size: 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.partners .partners-header-circles .black {
    background-color: #282828;
}

.partners .partners-header-circles .grey {
    background-color: #dcdee1;
    color: #dcdee1;
}
.partners .partners-header-circles .green {
    background-color: #28eea7;
    color:#28eea7;
}  
.partners .partners-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 30px 90px;
}
.partners img {
    width: 100px;
    height: 100px;
}

/* ---------------------------------------------------------------- */

.contact-us {
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #28eea7;
    color: #282828;
}

.contact-us .contact-us-head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 865px;
    margin-bottom: 70px;
    margin-top: 50px;

}
.contact-us .contact-us-head .contact-us-header{
    background-color: #363738;
    color: white;
    font-weight: 800;
    font-size: 25px;
    padding: 5px 10px;
}

.contact-us div span{
    color: #28eea7;
    font-weight: 900;

}
.contact-us .contact-us-header-circles {
    display: flex;
    gap: 0 5px;
}
.contact-us .contact-us-header-circles div {
    text-align: center;
    font-size: 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.contact-us .contact-us-header-circles .black {
    background-color: #282828;
}

.contact-us .contact-us-header-circles .grey {
    background-color: #dcdee1;
    color: #dcdee1;
}
.contact-us .contact-us-header-circles .white {
    background-color: white;
    color:white;
}
.contact-us .content-container {
    display: flex;
    gap: 20px;
    width: 90%;
}

.contact-us .content-container .location {
    background-color: #363738;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 20px;
    width: 25%;
    border-radius: 20px;
    font-size: 13px;
    flex: 1;

}
.contact-us .content-container .location .location-map {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 90%;

}

.contact-us .content-container .location .location-map iframe {
    border-radius: 20px;
}
.contact-us .content-container .location .location-map span {
    color: #a8a8a8;
}

.contact-us .content-container .location .location-details {
    color: #a8a8a8;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.contact-us .content-container .location .location-details span {
    color: white;
}

.contact-us .content-container .contact-us-form {
    background-color: #363738;
    flex: 3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    
}
.contact-us .content-container .contact-us-form .contact-us-form-content {
    color: #363738;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.contact-us .content-container .contact-us-form .contact-us-form-content .contact-us-form-head {
    color: #a8a8a8;
    font-size: 15px;
    margin-top: 25px;
}
.contact-us .content-container .contact-us-form .contact-us-form-content span {
    font-size: 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
  
.form-row {
    display: flex;
    margin-bottom: 10px;
}
  
.form-field {
    flex: 1;
    padding: 5px;
}
  
label {
    font-size: 12px;
    margin: 0 20px 0 10px;
}
  
input,
textarea {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
    height: 80px;
}
  
button {
    padding: 10px 20px;
    background-color: #28eea7;
    color: #282828;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
  
button:hover {
    background-color: #45a049;
}

.radio-group {
    display: flex;
    align-items: center;
    /* width: 10px; */
}
.radio-group input[type="radio"]{
    /* width: 10px; */
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    margin-left: 10px;
}
  
.submit-btn{
    display: flex;
    justify-content: flex-end;
}
/* ---------------------------------------------------------- */

.subsciption {
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 600px;
    color: #dcdee1;
    background-color: #363738;
}

.subsciption  p {
    font-size: 23px;
}
.subsciption p span {
    color: #28eea7;
    font-weight: 900;
}

.subsciption .text {
    font-size: 13px;
}
.subsciption .email {
    display: flex;
}

.subsciption div input {
    height: 50px;
    padding-left: 15px;
}

.subsciption .email input[type="text"]::placeholder {
    color: #a8a8a8;
}

.subsciption .email input[type="button"] {
    background-color: #282828;
    padding: 10px;
}


/* ----------------------------------------------------------------- */
.footer {
    background-color: #282828;
    height: 70vh;

}

.footer .footer-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 75px;
}

.footer .footer-container .row1 {
    display: flex;
    gap: 600px;
}
.footer .footer-container .row1 .links {
    display: flex;
    gap: 70px;
}
.footer .footer-container .row1 .links .left-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer .footer-container .row1 .links .left-links a {
    text-decoration: none;
    color: #a8a8a8;
}

.footer .footer-container .row1 .links .right-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}
.footer .footer-container .row1 .links .right-links a {
    text-decoration: none;
    color: #a8a8a8;
}
.footer .footer-container .row1 .media {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 50px;
}
.footer .footer-container .row1 .media .media-icons{
    display: flex;
    gap: 10px;

}

.footer .footer-container .row1 .media .media-icons a {
    background-color: #a8a8a8;
    border-radius: 5px;
    display: flex;
    width: 30px;
    height: 30px;
}

.footer .footer-container .row2{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 600px;
}
.footer .footer-container .row2 div {
    color: #a8a8a8;
}

