/* #28eea7 */
/* #282828 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro";
    color: white;
    font-family: Noto Sans Mono, sans-serif;
}

.header {
    height: 100vh;
    min-height: 100%;
    position: relative;
    display: flex;
}

.header .left {
    background-color: #28eea7;
    background-image: url(/assets/images/641b4c900878f534cf0d3f17_Untitled\ design\ \(11\).png);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header .left .cover {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(40, 238, 167, .93);
    background-image: none;
    position: static;
}

.header .left .cover .logo {
    align-self: flex-start;
    margin-top: 70px;
    margin-left: 70px;
    width: 187px;
}

.header .left .cover .content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 100px;
    padding-bottom: 60px;
    margin-right: 40px;
}

.header .left .cover .content h2 span {
    background-color: #282828;
    padding: 5px;
    font-size: 20px;
    line-height: 2;
    word-spacing: 3px;
}

.header .left .cover .content h1 {
    color: #282828;
    margin-top: 10px;
    font-weight: 1000;
}

.header .left .cover .content p {
    color: #282828;
    font-size: 20px;
    width: 85%;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1.3;
}

.header .left .cover .content .get-trained {
    color: #fcfcfd;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #282828;
    padding: 12px 15px;
    font-weight: 800;
    text-decoration: none;
}
/* --------------------- */

.header .right {
    background-color: #282828;
    background-image: url(/assets/images/641b4d48dc5b31ff0aa4ca67_Untitled\ design\ \(12\).png);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

.header .right .cover {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(35, 35, 35, .85);
    background-image: none;
    position: static;
}

.header .right .cover .logo {
    align-self: flex-end;
    margin-top: 70px;
    margin-right: 70px;
    width: 50px;
}

.header .right .cover .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
    padding-bottom: 60px;
    margin-left: 40px;
}

.header .right .cover .content h2 span {
    color: #363738;
    background-color: #fcfcfd;
    padding: 5px;
    font-size: 20px;
    line-height: 2;
    word-spacing: 3px;
}

.header .right .cover .content h1 {
    color: #fcfcfd;
    margin-top: 10px;
}

.header .right .cover .content p {
    color: #fcfcfd;
    font-size: 20px;
    width: 80%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 1.4;
}

.header .right .cover .content .hire-talent {
    color: #282828;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: #fcfcfd;
    padding: 12px 15px;
    font-weight: 800;
    text-decoration: none;
}
/* -------------------------------------------------------- */

.hello-world {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F1F2F3;
}

.hello-world .head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 865px;
    padding: 70px 0;
}

.hello-world div {
    color: #282828;
    font-weight: 800;
    font-size: 25px;
}

.hello-world div span {
    color: #28eea7;
    font-weight: 900;
}

.hello-world .circles {
    display: flex;
    gap: 0 5px;
}

.hello-world .circles div {
    text-align: center;
    font-size: 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.hello-world .circles .black {
    background-color:#282828 ;
}

.hello-world .circles .grey {
    background-color: #dcdee1;
    color: #dcdee1;
}

.hello-world .circles .green {
    background-color: #28eea7;
    color: #28eea7;
}

.hello-world .video-container {
    background-color: #28eea7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 90%;
    border-radius: 20px;
}

.hello-world .video-container iframe {
    height: 95%;
    width: 97%;
}

/* ------------------------------------------------ */

.milestones {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.milestones .head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 865px;
    padding: 70px 0;
}
.milestones div{
    color: #282828;
    font-weight: 800;
    font-size: 25px;
}

.milestones div span{
    color: #28eea7;
    font-weight: 900;
}
.milestones .circles {
    display: flex;
    gap: 0 5px;
}
.milestones .circles div {
    text-align: center;
    font-size: 1px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.milestones .circles .black {
    background-color: #282828;
}

.milestones .circles .grey {
    background-color: #dcdee1;
    color: #dcdee1;
}
.milestones .circles .green {
    background-color: #28eea7;
    color: #28eea7;
}  

.milestones .cards-container {
    display: flex;
    align-items: center;
    width: 90%;
    height: 90%;
    gap: 20px;
}

.milestones .cards-container .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 50px 0px 50px 50px;
    height: 100%;
}
.milestones .cards-container .left .milestone-title {
    font-size: 100px;
}
.milestones .cards-container .left .milestone-percentage{
    font-size: 30px;
    padding: 0px;
    font-weight: bold;
}
.milestones .cards-container .left .rich-text-content-tab p{
    font-size: 15px;
    font-weight: 10;
    color: #282828;
}
.milestones .cards-container .left .rich-text-content-tab p strong {
    color: #282828;
}
.milestones .cards-container .right {
    flex: 1; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 20px;
    height: 100%;
}
.milestones .cards-container .right .right-up-one,
    .right-up-two,
    .right-bottom-one,
    .right-bottom-two {
        border-radius: 20px;
        padding: 20px;
        background-color: #f2f2f2;
        margin: 5px;
        padding: 25px;
}

.milestones .milestone-title{
    font-size: 60px;
    line-height: 100px;
}
.milestones .milestone-percentage{
    font-size: 20px;
    font-weight: 10;
}